// @import "~@fullcalendar/core/main.css";
// @import "~@fullcalendar/daygrid/main.css";
.fc-sun,
.fc-sat {
  color: rgb(68, 65, 65);
  background-color: rgb(245, 238, 238);
}

#app {
  --background-color: $for-background;
  background-color: var(--background-color);
}
// @charset "utf-8";

// // Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$for-background: #eff0eb;
// // Set brand colors
$purple: #aa2f81;
$purple-light: #c86fab;
$purple-lighter: #e9c1db;
$purple-dark: #5f1647;
$pink: #fa7c91;
$pink-strong: #ce1836;
$pink-pure: #eb546d;
$pink-purerrr: #b66875;
$pink-light: #ffb3d0;
$pink-lighter: #fae3ec;
$brown: #757763;
$beige: #a0a07edf;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$dark-blue: #2320cc;
$dark-bluelighter: #3c379e;
$orange: #ff9900;
$orange-light: #e4c39e;

// // Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $for-background; //$beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// $subtitle-color: #333333;

$colors: (
  "smile": ($purple-lighter, $purple-light),
  "pinkish": ($pink-light, $pink-pure),
  "pinkishclear": ($pink-light, $pink-strong),
  "pinkishalert": ($pink-strong,$pink-lighter),
  "beige": ($beige, $beige-lighter),
  "orange": ($orange, $orange-light),
  "bluedark":($dark-blue,$dark-bluelighter),
  "syncdone":(rgb(203, 134, 212),$dark-bluelighter),
  "syncsome":(rgb(179, 175, 175),grey),
  "attndone":($pink-purerrr,$pink-lighter)
  // "attndone":(rgb(51, 187, 146),$pink-lighter)

  // "white": (
    //   $white,
    //   $black,
    // ),
    // "black": (
    //   $black,
    //   $white,
    // ),
    // "light": (
    //   $light,
    //   $light-invert,
    // ),
    // "dark": (
    //   $dark,
    //   $dark-invert,
    // ),
    // "primary": (
    //   $primary,
    //   $primary-invert,
    // ),
    // "info": (
    //   $info,
    //   $info-invert,
    // ),
    // "success": (
    //   $success,
    //   $success-invert,
    // ),
    // "warning": (
    //   $warning,
    //   $warning-invert,
    // ),
    // "danger": (
    //   $danger,
    //   $danger-invert,
    // ),
    // "twitter": (
    //   $twitter,
    //   $twitter-invert,
    // ),
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// // Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
