body {
  --amplify-text-xxs: 2 * 0.75rem;
  --amplify-text-xs: 2 * 0.81rem;
  --amplify-text-sm: 2 * 0.875rem;
  --amplify-text-md: 2 * 1rem;
  --amplify-text-lg: 2 * 1.5rem;
  --amplify-text-xl: 2 * 2rem;
  --amplify-text-xxl: 2 * 2.5rem;

  --amplify-primary-color: #ff9900;
  --amplify-primary-contrast: var(–amplify-white);
  --amplify-primary-tint: #ffac31;
  --amplify-primary-shade: #e88b01;
  --amplify-secondary-color: #152939;
  --amplify-secondary-contrast: var(–amplify-white);
  --amplify-secondary-tint: #31465f;
  --amplify-secondary-shade: #1f2a37;
  --amplify-tertiary-color: #5d8aff;
  --amplify-tertiary-contrast: var(–amplify-white);
  --amplify-tertiary-tint: #7da1ff;
  --amplify-tertiary-shade: #537be5;
  --amplify-grey: #828282;
  --amplify-light-grey: #c4c4c4;
  --amplify-white: #ffffff;
  --amplify-red: #dd3f5b;
}

.dayofweekToday {
  background-color: rgb(253, 253, 227);
}
.dayofweekTodayNot {
  background-color: rgb(236, 236, 236);
}
.sign-in-form-footer {
  display: none !important;
}

/* トランジション用スタイル */
.people-fade-enter-active,
.people-fade-leave-active,
.people-fade-move {
  transition: opacity 1s, transform 3s;
}
.people-fade-leave-active {
  position: absolute;
}
.people-fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.people-fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

/* instructors */
.tagfor {
  padding: 1px;
  margin: 7px;
  color: rgb(228, 175, 30);
  background-color: rgb(228, 175, 30);
}
.subtitle-mb10 {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 10px;
}

.wba {
  word-break: break-all;
}
.is-ready {
  color: #e61818;
}
.is-network {
  color: #eb921f;
}
.is-syncing {
  color: #168ef0;
}
.is-normal {
  color: #b4aba0;
}

.is-info {
  background: #167df0;
  color: #fff;
}
.is-normal {
  color: #b4aba0;
}

.is-fullsized {
  width: 100%;
  height: 100%;
}
.is-new {
  background: #fff !important;
  color: rgb(161, 161, 161);
}
.is-old {
  background-color: #afafaf !important;
  color: rgb(241, 241, 241);
}

.is-synced {
  /* background-color: #a81818 !important; */
  color: rgb(119, 119, 119);
}

/* .attend-hist-absent {
  background: hsl(348, 44%, 40%) !important;
  color: hsla(0, 0%, 100%, 0.883) !important;
  font-weight: bold;
} */

.f8 {
  font-size: 8px;
}
.f11 {
  font-size: 11px;
}
.f10 {
  font-size: 10px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f23 {
  font-size: 23px;
}
.f26 {
  font-size: 26px;
}
.f30 {
  font-size: 30px;
}
.f40 {
  font-size: 40px;
}
.f50 {
  font-size: 50px;
}
.f60 {
  font-size: 60px;
}
.f70 {
  font-size: 70px;
}
.fb {
  font-weight: bold;
}
.ab-a {
  color: rgb(234, 230, 235);
  background-color: rgb(23, 47, 63);
}
.ab-b {
  color: rgb(44, 44, 51);
  background-color: rgb(255, 251, 255);
}
/* .ab-a {
  color: rgb(234, 230, 235);
  background-color: rgb(12, 92, 146);
}
.ab-b {
  color: rgb(215, 215, 243);
  background-color: rgb(182, 6, 173);
} */

.h10 {
  height: 10px;
}
.m10 {
  margin: 10px;
}
.m20 {
  margin: 20px;
}
.m30 {
  margin: 30px;
}
.m40 {
  margin: 40px;
}
.m50 {
  margin: 50px;
}
.m60 {
  margin: 60px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.p40 {
  padding: 40px;
}
.p50 {
  padding: 50px;
}
.p60 {
  padding: 60px;
}
.w40 {
  width: 40px;
}
.w60 {
  width: 60px;
}
.w80 {
  width: 80px;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px;
}
.cPointer {
  cursor: pointer;
}
.hugetext {
  height: 10px;
  font-size: 33px;
}
.upper-left-corner {
  height: 10px;
  font-size: 33px;
  position: absolute;
  left: 5px;
  top: 5px;
}
.upper-top {
  font-size: 23px;
  position: absolute;
  top: 5px;
}
.cmargin {
  margin: 10px;
}
.cstudentlist {
  /* font-size: 18px; */
}

.tile.is-parent {
  padding: 10px 10px 0px 10px;
}
.tile.is-child {
  padding: 10px 10px;
}

.hlAttend {
  color: #14f745;
  background-color: #12b1969f;
}
.hlLate {
  color: #f8e642;
  background-color: #e8eb459f;
}
.hlClosed {
  color: #fb3b0b73;
  background-color: #a0391f9f;
}

/* .cCheckin {
  color: #eaf3f6;
  background-color: #1258699f;
}
.cPresent {
  color: #e3eee3e8;
  background-color: #185f189f;
}
.cAbsent {
  color: #f0d9dede;
  background-color: #972f459f;
}

.cPresentL {
  background-color: #c3e7c39f;
}
.cAbsentL {
  background-color: #f5bcc89f;
}
.chipdiv {
  width: 40px;
} */
/*style="border: 2px solid #ccc;background-color:red;"
*/
input[type="text"] {
  border: 1px solid #999;
}

/*ここから*/
.manageview {
  background: #503545fd !important;
  color: hsl(0, 0%, 100%) !important;
}
.manageview-accent {
  background: #e4cfdcfd !important;
  color: hsl(320, 37%, 38%) !important;
  font-weight: bold;
}
.manageview2 {
  background: #503545fd !important;
  color: hsl(0, 0%, 100%) !important;
}
.manageview3 {
  background: #aa5186fd !important;
  color: hsl(0, 0%, 100%) !important;
}

.attend-present {
  background: hsl(141, 59%, 47%) !important;
  color: hsl(0, 0%, 100%) !important;
  font-weight: bold;
}
.attend-late {
  background: hsl(48, 66%, 63%) !important;
  color: hsl(0, 0%, 100%) !important;
  font-weight: bold;
}
.attend-eleave {
  background: hsl(48, 100%, 67%) !important;
  color: hsl(0, 0%, 100%) !important;
  font-weight: bold;
}
.attend-absent {
  background: hsl(348, 76%, 60%) !important;
  color: hsl(0, 0%, 100%) !important;
  font-weight: bold;
}
/* for history */
.attend-hist-present {
  background: hsl(141, 38%, 44%) !important;
  color: hsla(0, 0%, 100%, 0.883) !important;
  font-weight: bold;
}
.attend-hist-late {
  background: hsl(48, 54%, 43%) !important;
  color: hsla(0, 0%, 100%, 0.883) !important;
  font-weight: bold;
}
.attend-hist-eleave {
  background: hsl(48, 54%, 38%) !important;
  color: hsla(0, 0%, 100%, 0.883) !important;
  font-weight: bold;
}
.attend-hist-absent {
  background: hsl(348, 44%, 40%) !important;
  color: hsla(0, 0%, 100%, 0.883) !important;
  font-weight: bold;
}

.attend-indi-present {
  color: hsl(141, 59%, 47%) !important;
  font-size: 1.3rem;
}
.attend-indi-late {
  color: hsl(48, 66%, 63%) !important;
  font-size: 1.3rem;
}
.attend-indi-eleave {
  color: hsl(48, 100%, 67%) !important;
  font-size: 1.3rem;
}
.attend-indi-absent {
  color: hsl(348, 76%, 60%) !important;
  font-size: 1.3rem;
}

.sumOk {
  background: hsl(202, 89%, 82%) !important;
}
.sumYet {
  background: hsl(22, 61%, 80%) !important;
}
.sumNg {
  background: hsl(0, 94%, 47%) !important;
  color: hsl(0, 0%, 100%) !important;
  font-weight: bold;
}

/* .attend-present {
  background: #9be9cb !important;
  color: rgb(64, 117, 64) !important;
}
.attend-late {
  background: #fff789fa !important;
  color: rgb(51, 59, 51) !important;
}
.attend-eleave {
  background: #ecf185 !important;
  color: rgb(51, 59, 51) !important;
}
.attend-absent {
  background: #ee9984 !important;
  color: rgb(51, 59, 51) !important;
} */

/* .is-sticky-column-one {
  background: #d6dfd9 !important;
  color: rgb(51, 59, 51) !important;
}
.is-sticky-column-two {
  background: #d4d8db !important;
  color: rgb(63, 65, 82) !important;
}
.is-sticky-column-three {
  background: #e2e6eb !important;
  color: rgb(47, 49, 53) !important;
} */
